
<div class="principal">
    <h1> Generador de Pokemon Aleatorio</h1>

    <div class="pokemon-box">
        <app-pokemon [pokemon] = "pokemon"> </app-pokemon>

    </div>


    <div class="botones">
        <button type= "button" class="buscarPokemonAleatorio" (click)="buscarPokemonAleatorio()">Generar Pokémon Aleatorio</button>

            <div class="busqueda">
                <button type="button" class="cambiarPokemon" (click)="cambiarPokemon(1)">Siguiente</button>
                <button type="button" class="cambiarPokemon" (click)="cambiarPokemon(-1)">Anterior</button>
            </div>
    </div>
</div>




       
  
   
  