
<header>
  <div class="logo"></div>
  <div class="principal">
      <nav>
        <ul>
          <li>
            <a [routerLink]="['']">Inicio</a>
          </li>
          <li>
            <a [routerLink]="['pokedex']">Pokédex</a>
          </li>
          <li>
            <a [routerLink]="['formulario']">Qué Pokémon eres?</a>
          </li>
          <li>
            <a [routerLink]="['adivina']">Adivina el Pokémon</a>
          </li>
          
        </ul>
      </nav>
  </div>
 

</header>