body {
    font-family: Arial, sans-serif;
    padding: 20px;
    text-align: center;
}
.img-negra {
    max-width: 100%;
    height: auto;
    filter: brightness(0); 
}

.img-normal{
    max-width: 100%;
    height: auto;
    filter: brightness(1); 
}