   
 // buscador de pokemon 

 // 

<input type="text" placeholder="Enter Pokemon Name">

@for (pokemon of pokemons; track $index) {
    <h1>Pokedex</h1>
    <h2>{{ listaPokemon.nombre }}</h2>
    <p>Number: {{ listaPokemon.nPokedex }}</p>
    <p>Type: {{ listaPokemon.tipo }}</p>
    <img src="{{ listaPokemon.fotoDel }}" alt="{{ listaPokemon.nombre }} Image">
}

<h1>ssss</h1>
        @for(nombre of listaPokemon.nombre; track nombre){
            <p>hoal</p>
        }
          


    <button (click)="prev()">Prev</button>

    