<div class = "principal">
    
  
    <div class="pokemonRandom" >
      
      @if (cargando === true) {
        <p>Cargando...</p>
      } @else {
         <h1>{{pokemon.nombre}}</h1>
      <h3>{{pokemon.nPokedex}}</h3>
      @if (esShiny === false) {
        <img [src]="pokemon.fotoDel" alt="{{ pokemon.nombre }}">
      } @else  {
        <img [src]="pokemon.fotoShiny" alt="{{ pokemon.nombre }}">
      }
      @if(pokemon.tipo2 !== 'N/A'){
        <p
          class=colorearTipo({{pokemon.tipo}})> <strong>Tipo:</strong> {{ pokemon.tipo }} / {{ pokemon.tipo2 }} </p>
       }@else {
        <p><strong>Tipo:</strong> {{ pokemon.tipo }} </p>
       }
      <p><strong>Juego:</strong> {{ pokemon.generacion }} generación</p>
      <button (click)="verShiny()">Ver {{ esShiny ? 'Normal' : 'Shiny' }}</button>
      @if( pokemon.nPokedex < 152){
    <button (click) = "verPokedex()">Ver pokédex</button>
      }@else {
        <p>Este Pokémon no está en la pokédex original</p>
      }
      
    }

    </div>
  
      <!-- <p [style]="colorearTipo( pokemon.tipo )">{{ pokemon.tipo }}</p> -->
    
    
