<div class = "principal">
    
  @if(pokemon){
    <!-- [class] = "cambiarFondo( pokemon.types[0].type.name)" -->
    <div class="pokemon">
      
      @if (cargando === true) {
        <p>Cargando...</p>
        } @else {


                  <h1 [style] = "pokemon.name">{{pokemon.name | mayusculas }}</h1>
                  <h3>{{pokemon.id}}</h3>
                  <!-- <h3>{{pokemon.generacion}} generación</h3> -->

            
              @if (esShiny === false) {
                <img [src]="pokemon.sprites.front_default" alt="{{ pokemon.name }}">
              } @else  {
                <img [src]="pokemon.sprites.front_shiny" alt="{{ pokemon.name }}">
              }
              
              <div id="tiposPokemon">
                
                @if( pokemon.types.length > 1){

                    <div class="tipos">
                      <strong>Tipo:</strong>
                      <span [class]="colorearTipo( pokemon.types[0].type.name)">{{ pokemon.types[0].type.name | mayusculas }} </span>   
                      <span [class]="colorearTipo( pokemon.types[1].type.name)">{{ pokemon.types[1].type.name | mayusculas }} </span>               
                    </div>
                    
                  }@else {
                    
                    <div class="tipos">
                      <strong>Tipo:</strong>
                      <span [class]="colorearTipo( pokemon.types[0].type.name)">{{ pokemon.types[0].type.name | mayusculas }} </span>
                    </div>
                    
                  }
              </div>

              <button type="button" class= "verShiny" (click)="verShiny()">Ver {{ esShiny ? 'Normal' : 'Shiny' }}</button>
              
              <!-- <p> <strong>Juego:</strong>{{ pokemon.generacion }} generación</p> -->

           
                <button (click) = "verPokedex()">Ver pokédex</button>
             
              
        }

 </div>
  }



      



  
    
    
